@model IEnumerable<TraceLog>
@{
    Layout = "_Trace";
}
<table border="1" cellspacing="0">
    <thead>
        <tr>Url</tr>
        <tr>RunTime</tr>
        <tr>CreateTime</tr>
        <tr>ErrorMessage</tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Url</td>
                <td>@item.RunTime</td>
                <td>@item.CreateTime</td>
                <td>@item.ErrorMessage</td>
            </tr>
        }
    </tbody>
</table>
